<!-- <div ng-show="users.checkLoggedIn()">
  <div ng-repeat="recommendation in recommendations.all">
  <h2>{{ recommendation.category }}</h2>
  <h3>{{ recommendation.description }}</h3>
  <h3><a ng-href="{{ recommendation.url }}">{{ recommendation.url }}</a></h3>
  by: {{ recommendation.user.local.name }}
  </div>
</div> -->

<div id="googleMap" ng-show="users.checkLoggedIn()"></div>

<div class="col-sm-12" id="searchBox" ng-show="users.checkLoggedIn()">
  <input type="text" id="googlesearch" class="col-sm-2 control-label" placeholder="Find a HomeTown" ng-model="search.city">
</div>

<div ng-click="search = undefined">
    Clear Filter
</div>

<h1 class="text-center">All Recommendations</h1>

<div class="container">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-primary" ng-show="users.checkLoggedIn()" ng-repeat="recommendation in recommendations.all | filter:search">
      <div class="panel-heading">
        <h3 class="panel-title">{{ recommendation.category }}</h3>
      </div>
      <div class="panel-body">
        <h3>{{ recommendation.description }}</h3>
        <h3>{{ recommendation.address }}</h3>
        <h3><a ng-href="{{ recommendation.url }}">Website</a></h3>
        <h4>by: {{ recommendation.user.local.name }}</h4>
        <button type="submit" class="btn btn-default" ui-sref-active="active" ui-sref="showRecommendation({id: recommendation._id })">View Recommendation</button>
      </div>
    </div>
  </div>
</div>