body {
  font-family: 'Poppins', sans-serif;
}

#center-it {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

#googleMap {
  height: 400px;
  width: 100%;
}

.homepage-photo {
  height: 550px;
  width: 100%;
}

#navbar {
  margin-bottom: 0px;
  background-color: #EF4861;
  border: none;
}

nav#top {
  text-align: center;
  padding: 15px;
}

nav img {
  height: 25px;
}

#super-secret {
  width: 175px;
  height: 3px;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  width: 527px;
}

.nav > li {
  text-align: center !important;
  /*float: none;*/
  /*display: inline-block !important;*/
}

.container-fluid {
    padding-right: 15px;
}

.panel-body {
  border: #585858 !important;
}

.panel {
  border-color: #585858;
}

h2.home-title {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
}

div.hometext {
  margin: 0 auto;
}

img.profile-photo {
  padding-bottom: 40px;
}

.search-query#googlesearch {
  width: 400px;
}

#searchbox {
  padding-top: 30px;
}

main {
  margin-bottom: 100px;
}