body {
  font-family: 'Poppins', sans-serif;
}

#googleMap {
  height: 400px;
  width: 100%;
}

.homepage-photo {
  height: 550px;
  width: 100%;
}

#navbar {
  margin-bottom: 0px;
  background-color: #EF4861;
  border: none;
}

nav#top {
  text-align: center;
  padding: 15px;
}

nav img {
  height: 25px;
}

.panel-body {
  border: #585858 !important;
}

.panel {
  border-color: #585858;
}

h2.home-title {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
}

div.hometext {
  margin: 0 auto;
}