#googleMap {
  height: 400px;
  width: 100%;
}

#navbar {
  margin-bottom: 0px;
  background-color: #EF4861;
  border: none;
}

nav#top {
  text-align: center;
  padding: 15px;
}

nav img {
  height: 25px;
}
